<div data-role="view" id="Caregiver" data-title="Cuidador" data-layout="mobile-tabstrip" data-model="APP.models.caregiver">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Paìs:
                    <input id="ddlCasa" />
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: addHouseToCaregiver">Agregar</button>
            </li>
        </ul>
    </form>
    <ul id="list"></ul>
</div>
<div data-role="view" id="GeneralAdd" data-title="General" data-layout="mobile-tabstrip" data-model="APP.models.caregiver">
    <form>
        <ul data-role="listview" data-style="inset" title="General">
            <li>
                <label>Código:                    
                    <input type="text" name="caregiverID" data-bind="value: caregiverID">
                </label>
            </li>
            <li>
                <label>Nombres:
                    <input type="text" name="firstName" data-bind="value: caregiverFirstName">
                </label>
            </li>
            <li>
                <label>Apellidos:
                    <input type="text" name="surName" data-bind="value: caregiverFirstName">
                </label>
            </li>
            <li>
                <label>Casa:
                    <input type="text" name="houseName" data-bind="value: caregiverHouse" readonly>
                </label>
            </li>
        </ul>
    </form>
</div>
<div data-role="layout" data-id="mobile-tabstrip" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
			<a  style="display:none" name="btnBackAddCaregiver" data-role="backbutton" data-align="left">Atrás</a>
            <span data-role="view-title"></span>
            <a  style="display:none" name="btnBackAddCaregiver" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.caregiver.addCaregiverSubmit">Guardar</a>                    
        </div>
    </header>
    <div data-role="footer">
        <div data-role="tabstrip" id="tabstripAddCaregiver">
            <a href="#Caregiver" data-icon="search">Buscar</a>
            <a href="#GeneralAdd" data-icon="globe">General</a>
        </div>
    </div>
</div>
