<div data-role="view" id="ChildAdd" data-title="Niño" data-layout="mobile-tabstrip" data-model="APP.models.child"  data-show="APP.models.child.init">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Cuidador:
                    <input id="ddlCuidador" name="ddlCuidador" />
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: addCaregiverToChild">Agregar</button>
            </li>
        </ul>
    </form>
</div>
<div data-role="view" id="GeneralChildAdd" data-title="General" data-layout="mobile-tabstrip" data-model="APP.models.child">
    <form>
        <ul data-role="listview" data-style="inset" title="General">
            <li><label>Código de Niño:<input type="text" name="SOSChildID" data-bind="value: SOSChildID"/></label></li>
            <li><label>Nombres:<input type="text" name="FirstName" data-bind="value: FirstName"/></label></li>
            <li><label>Apellidos:<input type="text" name="LastName" data-bind="value: LastName"/></label></li>
            <li><label>Código:<input type="text" name="CaregiverID" data-bind="value: CaregiverID"></label></li>
            <li><label>Fecha de Nacimiento:<input type="date" name="Birthdate" data-bind="value: Birthdate"/></label></li>
            <li><label>Fecha de Salida:<input type="date" name="Exitdate" data-bind="value: Exitdate"/></label></li>
            <li><label>Razón de Salida:<select name="ExitReason" data-bind="value: ExitReason"><option value="1">Adopción</option><option value="2">Fallecimiento</option>
				<option value="3">Autosuficiencia</option><option value="4">Reintegración familiar</option></select></label></li>
            <li><label>Apellido de la Madre:<input type="text" name="MotherLastName" data-bind="value: MotherLastName"/></label></li>
        </ul>
    </form>
</div>
<div data-role="layout" data-id="mobile-tabstrip" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
			<a  style="display:none" name="btnBackAddChild" data-role="backbutton" data-align="left">Atrás</a>
            <span data-role="view-title"></span>
            <a  style="display:none" name="btnBackAddChild" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.child.addChildSubmit">Guardar</a>                    
        </div>
    </header>
    <div data-role="footer">
        <div data-role="tabstrip" id="tabstripAddChild">
            <a href="#ChildAdd" data-icon="search">Buscar</a>
            <a href="#GeneralChildAdd" data-icon="globe">General</a>
        </div>
    </div>
</div>
