<div data-role="view" id="Casa" data-title="Casa" data-layout="mobile-tabstrip" data-model="APP.models.house" data-show="APP.models.house.init">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Programa:
    				<input id="ddlProgramma" name="ddlProgramma"/>                
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: addProgrammeUnitToHouse">Agregar</button>
            </li>
        </ul>
    </form>
    <ul id="list"></ul>
</div>
<div data-role="view" id="GeneralAdd" data-title="General" data-layout="mobile-tabstrip" data-model="APP.models.house">
    <form>
        <ul data-role="listview" data-style="inset" title="General">
            <li>
                <label>Código:                    
                    <input type="text" name="SOSHouseID" data-bind="value: SOSHouseID">
                </label>
            </li>
            <li>
                <label>Nombre:
                    <input type="text" name="NameOrNumber" data-bind="value: NameOrNumber">
                </label>
            </li>
            <li>
                <label>Dirección:
                    <input type="text" name="Address" data-bind="value: Address">
                </label>
            </li>
            <li>
                <label>Programma:
                    <input type="text" name="ProgrammeUnitID" data-bind="value: ProgrammeUnitID" readonly>
                </label>
            </li>
        </ul>
    </form>
</div>
<div data-role="layout" data-id="mobile-tabstrip" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
			<a  style="display:none" name="btnBackAddHouse" data-role="backbutton" data-align="left">Atrás</a>
            <span data-role="view-title"></span>
            <a  style="display:none" name="btnBackAddHouse" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.house.addHouseSubmit">Guardar</a>                    
        </div>
    </header>
    <div data-role="footer">
        <div data-role="tabstrip" id="tabstripAddHouse">
            <a href="#Casa" data-icon="search">Buscar</a>
            <a href="#GeneralAdd" data-icon="globe">General</a>
        </div>
    </div>
</div>
