<div data-role="view" id="HouseAdd" data-title="Casa" data-layout="mobile-tabstrip-ah" data-model="APP.models.house" data-show="APP.models.house.init">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Programa:
    				<input id="ddlProgramma" name="ddlProgramma"/>   
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: addProgrammeUnitToHouse">Agregar</button>
            </li>
        </ul>
    </form>
    <ul id="list"></ul>
</div>
<div data-role="view" id="GeneralHouseAdd" data-title="General" data-layout="mobile-tabstrip-ah" data-model="APP.models.house">
    <form>
        <ul data-role="listview" data-style="inset" title="General">
            <li>
                <label>Código:                    
                    <input type="text" name="SOSHouseID" data-bind="value: SOSHouseID">
                </label>
            </li>
            <li>
                <label>Nombre:
                    <input type="text" name="NameOrNumber" data-bind="value: NameOrNumber">
                </label>
            </li>
            <li>
                <label>Dirección:
                    <input type="text" name="Address" data-bind="value: Address">
                </label>
            </li>
            <li>
                <label>Programma:
                    <input type="text" name="ProgrammeUnitID" data-bind="value: ProgrammeUnitID" readonly>
                </label>
            </li>            
            <li>
                <label>Fecha de Inicio:
                    <input type="date" name="DateOfStart" data-bind="value: DateOfStart">
                </label>
            </li>
            <li>
                <label>Capacidad Máxima:
                    <input type="number" name="MaximunCapacity" data-bind="value: MaximunCapacity">
                </label>
            </li>
            <li>
                <label>Notas:
                    <input type="text" name="Notes" data-bind="value: Notes">
                </label>
            </li>
            <li>
                <label>Número de Niños:
                    <input type="number" name="NumberOfChildren" data-bind="value: NumberOfChildren">
                </label>
            </li>
            <li>
                <label>Teléfono:
                    <input type="text" name="PhoneNumber" data-bind="value: PhoneNumber">
                </label>
            </li>
            <li>
                <label>Estado:
                    <input type="text" name="Status" data-bind="value: Status" value="Activo">
                </label>
            </li>
        </ul>
    </form>
</div>
<div data-role="layout" data-id="mobile-tabstrip-ah" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
			<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a  name="btnBackAddHouse" data-role="backbutton" data-align="left">Atrás</a>
            <span data-role="view-title"></span>
            <span class="connectionStatus"></span>
            <a  name="btnSaveAddHouse" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.house.addHouseSubmit">Guardar</a>                    
        </div>
    </header>
    <div data-role="footer">
        <div data-role="tabstrip" id="tabstripAddHouse">
            <a href="#HouseAdd" data-icon="search">Buscar</a>
            <a href="#GeneralHouseAdd" data-icon="globe">General</a>
        </div>
    </div>
</div>
