<div data-role="view" id="BusquedaFollowAdd" data-title="Busqueda" data-layout="mobile-tabstrip-af" data-model="APP.models.tracking" data-show="APP.models.tracking.init">
   <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Nombre:
                    <input type="text" name="FollowfirstNameSearch" data-member="firstNameSearch">
                </label>
            </li>
            <li>
                <label>Apellido Paterno:
                    <input type="text" name="FollowlastNameSearch" data-member="lastNameSearch">
                </label>
            </li>
            <li>
                <label>Apellido Materno:
                    <input type="text" name="FollowmotherNameSearch" data-member="lastName2Search">
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: searchChildByFilters">Buscar</button>
            </li>
        </ul>
    </form>
    <ul id="trackAddList"></ul>
</div>
<!--<div data-role="view" id="GeneralView" data-model="AddTrackingValues" >
    <form>-->
        <div data-role="view" id="GeneralFollowAdd" data-title="General" data-layout="mobile-tabstrip-af" data-model="APP.models.tracking">
            <form>                
            <ul data-role="listview" data-style="inset" title="General">
                <li>
                    <label>Código de Seguimiento:
                        <input type="text" name="FollowSOSFollowID" data-member="SOSFollowID">
                    </label>
                </li>
                <li>
                    <label>Código de Niño:
                        <input type="text" name="FollowchildID" data-member="SOSChildID">
                    </label>
                </li>
                <li>
                    <label>Nombres:
                        <input type="text" name="FollowfirstName" data-member="firstName" readonly>
                    </label>
                </li>
                <li>
                    <label>Apellidos
                        <input type="text" name="FollowsurName" data-member="surName" readonly>
                    </label>
                </li>
                <li>
                    <label>Razón de Salida:
                        <select name="FollowreasonsForExit" data-member="reasonsForExit">
                            <option value="1">Adopción</option>
                            <option value="2">Fallecimiento</option>
                            <option value="3">Autosuficiencia</option>
                            <option value="4">Reintegración familiar</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Fecha de Inicio:
                        <input type="date" name="FollowstartDate" data-member="startDate">
                    </label>
                </li>
                <li>
                    <label>Fecha de Fin:
                        <input type="date" name="FollowendDate" data-member="endDate">
                    </label>
                </li>
                <li>
                    <label>Teléfono:
                        <input type="tel" name="Followphone" data-member="phone">
                    </label>
                </li>                
                <li>
                    <label>Correo electrónico:
                        <input type="email" name="Followemail" data-member="email">
                    </label>
                </li>                 
                <li>
                    <label>Edad cuando tuvo su primer hijo:
                        <input type="number" name="FollowageWhenHasFirstChild" data-member="ageWhenHasFirstChild">
                    </label>
                </li>
                <li>
                    <label>Número de Hijos:
                        <input type="number" name="FollowchildrenNumber" data-member="childrenNumber">
                    </label>
                </li>                
                <li>
                    <label>Tutor Legal:
                        <input type="text" name="FollowlegalGuardian" data-member="legalGuardian">
                    </label>
                </li>             
                <li>
                    <label>Hermanos biológicos fuera de SOS:
                        <input type="number" name="FollowsiblingsOutsideSOS" data-member="siblingsOutsideSOS">
                    </label>
                </li>    
                <li>
                    <label>Estado Civil:
                        <select name="FollowMaritalStatus" data-member="MaritalStatus">
                            <option value="">Escoger</option>
                            <option value="1">Soltero</option>
                            <option value="2">Casado</option>
                            <option value="3">Viudo</option>
                            <option value="4">Divorciado</option>
                            <option value="5">Conviviente</option>
                            <option value="6">Separado</option>
                        </select>
                    </label>
                </li>    
                <li>
                    <!--<a href="#Vivienda" data-icon="fastforward" data-click="onClickTabFollowUp">Adelantar</a>-->
                </li>
            </ul>                
            </form>
        </div>
        <div data-role="view" id="ViviendaFollowAdd" data-title="Vivienda" data-layout="mobile-tabstrip-af">
            <ul data-role="listview" data-style="inset" title="Vivienda">
                <li>
                    <label>Tipo de Alojamiento:
                        <select name="FollowhostageType" data-member="hostageType">
                            <option value="1">Casa Propia</option>
                            <option value="2">Casa Alquilada</optiosn>
                            <option value="3">Familiares</option>
                            <option value="4">Residencia Universitaria</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Comentarios de Alojamiento:
                        <textarea name="FollowhostageComments" style="resize: none" data-member="hostageComments"></textarea>
                    </label>
                </li>
                <li>
                    <label>Comentarios de Mejora de Alojamiento:
                        <textarea name="FollowhostageImproveComments" style="resize: none" data-member="hostageImproveComments"></textarea>
                    </label>
                </li>
                <li>
                    <label>Centro Educativo NO SOS:
                        <input type="text" name="FolloweducationalCenterNoSOS" data-member="educationalCenterNoSOS">
                    </label>
                </li>
				<li>
                    <label>Lugar de Residencia:
                        <select name="FollowhomePlace" data-member="homePlace">
                            <option value="1">Madre / Padre</option>
                            <option value="2">Hermanos Biologicos</optiosn>
                            <option value="3">Familia SOS</option>
                            <option value="4">Vivienda Propia</option>
                        </select>
                    </label>
                </li>
                <!--<li><a href="#General" data-icon="rewind">Regresar</a></li>
            <li><a href="#Educacion" data-icon="fastforward">Adelantar</a></li>-->
            </ul>
        </div>
        <div data-role="view" id="EducacionFollowAdd" data-title="Educacion" data-layout="mobile-tabstrip-af">
            <ul data-role="listview" data-style="inset" title="Educacion">
                <li>
                    <label>Matricula Escolar Vigente:
                        <select name="FollowcurrentEnrollment" data-member="currentEnrollment">
                            <option value="1">Primeros años de Secundaria</option>
                            <option value="2">Finales años de Secundaria</option>
                            <option value="3">Post Secundaria</option>
                            <option value="4">Enseñanza Superior</option>
                            <option value="5">Bachiller</option>
                            <option value="6">No matriculado</option>
                        </select>
                    </label>
                </li>    
                <li>
                    <label>Nivel Educación Alcanzado:
                        <select name="FolloweducationCurrentEnrollment" data-member="educationCurrentEnrollment">
                            <option value="1">Sin Nivel</option>
                            <option value="2">Primaria</option>
                            <option value="3">Secundaria</option>
                            <option value="4">Superior No Univ.</option>
                            <option value="5">Superior Univ.</option>
                            <option value="6">PostGrado</option>
                            <option value="7">Técnica</option>
                        </select>
                    </label>
                </li>   
                <li>
                    <label>Inicio de Educación:
                        <input type="date" name="FolloweducationStudyStart" data-member="educationStudyStart">
                    </label>
                </li>
                <li>
                    <label>Nombre de Especialidad:
                        <input type="text" name="FollowspecialityName" data-member="specialityName">
                    </label>
                </li>
                <li>
                    <label>Semestre de la Especialidad:
                        <input type="text" name="FollowspecialitySemester" data-member="specialitySemester">
                    </label>
                </li>
                <li>
                    <label>Satisfacción en desarrollo Profesional:
                        <select name="FollowSatisfactionInProfessionalDev" data-member="SatisfactionInProfessionalDev">
                            <option value="">Escoger</option>
                            <option value="1">Muy Contento</option>
                            <option value="2">Contento</option>
                            <option value="3">Descontento</option>
                            <option value="4">Muy Descontento</option>
                        </select>
                    </label>
                </li>    
            </ul>
        </div>
        <div data-role="view" id="EmpleoIngresosFollowAdd" data-title="Empleo" data-layout="mobile-tabstrip-af">
            <ul data-role="listview" data-style="inset" title="Empleo">
                <li>
                    <label>Condición Laboral:
                        <select name="FollowWorkCondition" data-member="WorkCondition">
                            <option value="">Escoger</option>
                            <option value="1">Dependiente</option>
                            <option value="2">Independiente</optiosn>
                            <option value="3">No labora</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Ingresos Mensuales:
                            <input type="number" name="FollowincomeMonthly" data-member="incomeMonthly">
                    </label>
                </li>
                <li>
                    <label>Tipo de Moneda:
                        <select name="FollowworkCurrency" data-member="workCurrency">
                            <option value="1">Nuevos Soles</option>
                            <option value="2">Dolares</optiosn>
                            <option value="3">Euros</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Fuente de Ingreso:
                        <select name="FollowsourceOfIncome" data-member="sourceOfIncome">
                            <option value="1">Salario</option>
                            <option value="2">Prestaciones sociales</option>
                            <option value="3">Apoyo de SOS</option>
                            <option value="4">Otros</option>
                        </select>
                    </label>
                </li>
				<li>
                    <label>Dinero Suficiente:
                        <select name="FollowEnoughWorkIncome" data-member="EnoughWorkIncome">
                            <option value="">Escoger</option>
                            <option value="1">Si fácilmente</option>
                            <option value="2">Si me las arreglo</optiosn>
                            <option value="3">Es difícil</option>
                        	<option value="4">Es imposible</option>
                        	<option value="5">No sabe</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Tipo de Empleo:
                        <select name="FollowtypeOfEmployment" data-member="typeOfEmployment">
                            <option value="1">Tiempo Completo</option>
                            <option value="2">Medio Tiempo</option>
                            <option value="3">Desempleado</option>
                            <option value="4">Sin Trabajo</option>
                            <option value="5">Otros</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Trabajo relacionado con la especialidad:
                        <select name="FollowworkRelatedWithSpeciality" data-member="workRelatedWithSpeciality">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Area de Trabajo:
                        <select name="FollowareaOfWork" data-member="areaOfWork">
                            <option value="1">Privado</option>
                            <option value="2">Publico</option>
                            <option value="3">Independiente</option>
                            <option value="4">ONG</option>
                            <option value="5">Otros</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Trabajo Continuo en meses:
                        <input type="number" name="FollowcontinueWorkinMonths" data-member="continueWorkinMonths">
                    </label>
                </li>
                <li>
                    <label>Meses desempleado:
                        <input type="number" name="FollowmonthsUnemployee" data-member="monthsUnemployee">
                    </label>
                </li>
            </ul>
        </div>
        <div data-role="view" id="SaludFollowAdd" data-title="Salud" data-layout="mobile-tabstrip-af" >
            <ul data-role="listview" data-style="inset" title="Salud">
                <li>
                    <label>Tiene Discapacidad:
                        <select name="FollowhasDisability" data-member="hasDisability">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Afecta en la vida diaria:
                        <select name="FollowaffectsInDailyLife" data-member="affectsInDailyLife">
                            <option value="1">Demasiado</option>
                            <option value="2">Mucho</option>
                            <option value="3">Regular</option>
                            <option value="4">Muy Poco</option>
                            <option value="5">Nada</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Comentarios de la discapacidad:
                        <textarea name="FollowcommentsAboutHandicap" style="resize: none" data-member="commentsAboutHandicap"></textarea>
                    </label>
                </li>
            </ul>
        </div>
        
		<div data-role="layout" data-id="mobile-tabstrip-af" data-show="showDemoLayout">
             <header data-role="header">
                <div data-role="navbar">
					<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
                    <a  name="btnBackAddFollow" data-role="backbutton" data-align="left">Atrás</a>
                    <span data-role="view-title"></span>
                    <span class="connectionStatus"></span>
                    <a  name="btnSaveAddFollow" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.tracking.addTrackingSubmit">Guardar</a>                    
                </div>
            </header>
            <div data-role="footer">          
                <div data-role="tabstrip" id="tabstripAddFollow">
                    <a href="#BusquedaFollowAdd" data-icon="search">Busqueda</a>
                    <a href="#GeneralFollowAdd" data-icon="globe">General</a>
                    <a href="#ViviendaFollowAdd" data-icon="home">Vivienda</a>
                    <a href="#EducacionFollowAdd" data-icon="bookmarks">Educacion</a>
                    <a href="#EmpleoIngresosFollowAdd" data-icon="cart">Empleo</a>
                    <a href="#SaludFollowAdd" data-icon="featured">Salud</a>
                </div>
            </div>
        </div>
		<!--<button style="width: 100%" data-role="button" data-bind="click: submit">Guardar</button>
    </form>
</div>-->