<!-- application drawer and contents -->    
<div data-role="drawer" id="appDrawer" style="width: 270px" data-title="Navigation">
        <div data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
            </div>
        </div>
        <ul data-role="listview">
            <li>
                <a href="views/home.html">Inicio</a>
            </li>
            <li>
                <a href="views/AddTracking.html">Agregar Seguimiento</a>
            </li>
            <li>
            	<a href="views/ViewTracking.html">Listar Seguimiento</a>
            </li>        
            <li>
                <a href="views/AddChild.html">Agregar Niño</a>
            </li>
            <li>
            	<a href="views/ViewChild.html">Listar Niño</a>
            </li>                    
            <li>
                <a href="views/AddCaregiver.html">Agregar Cuidador</a>
            </li>
            <li>
            	<a href="views/ViewCaregiver.html">Listar Cuidador</a>
            </li>                    
            <li>
                <a href="views/AddHouse.html">Agregar Hogar</a>
            </li>
            <li>
            	<a href="views/ViewHouse.html">Listar Hogar</a>
            </li>                    
            <li>
                <a href="views/ReportConsolidated.html">Consolidado</a>
            </li>
            <li>
            	<a href="views/ReportFollow.html">Reporte</a>
            </li>        
            <li>
                <a href="views/synchro.html">Sincronizar</a>
            </li>
        </ul>
    </div>