<div data-role="view" id="ViewFollowReport" data-title="Reporte Seguimiento" data-layout="mobile-tabstrip-rf" data-model="APP.models.Reports" data-show="APP.models.Reports.init"> 
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>País:
                    <input id="ddlPaisViewFollowReport" />
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: submitFollowReport">Generar</button>
            </li>
        </ul>
    </form>
    <ul id="list"></ul>
</div>
<div data-role="layout" data-id="mobile-tabstrip-rf" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
			<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a  style="display:none" name="btnBackViewFollowReport" data-role="backbutton" data-align="left">Atrás</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <div data-role="footer">
        <div data-role="tabstrip" id="tabstripViewFollowReport">
            <a href="#ViewFollowReport" data-icon="globe">Generar</a>
        </div>
    </div>
</div>
