<div data-role="view" data-title="Reporte Seguimiento" data-layout="main" data-show="initDatasourcesForReports" data-stretch="true">
			<div id="example">
                <br>
                <a  data-role="button" data-click-on="down" data-align="right" data-click="onGridViewShowMaritalStatus">Generar Reporte Estado Civil</a>                    
                <a  data-role="button" data-click-on="down" data-align="right" data-click="onGridViewShowSatisfaction">Generar Reporte Satisfacción Profesional</a>                    
                <a  data-role="button" data-click-on="down" data-align="right" data-click="onGridViewShowWorkCondition">Generar Reporte Condiciones de Trabajo</a>                    
                <a  data-role="button" data-click-on="down" data-align="right" data-click="onGridViewShowEnoughMoney">Generar Reporte Alcanza el dinero</a>                    
                <br>
				<div id="gridMaritalStatus" style="width: 500px;"></div>
                <div id="gridSatisfaction" style="width: 700px;"></div>
                <div id="gridWorkCondition" style="width: 500px;"></div>
                <div id="gridEnoughMoney" style="width: 900px;"></div>
                <script id="rowTrackingTemplate" type="text/x-kendo-tmpl">
                	    <tr>
                            <td style="width: 300px">#: typeName #</td>
                            <td style="width: 100px">#: amount#</td>
                            <td style="width: 100px">#: percentage#</td>
                        </tr>
				</script>
                <script id="rowSatisfactionTrackingTemplate" type="text/x-kendo-tmpl">
                	    <tr>
                            <td style="width: 220px">#: programmeUnitName #</td>
                            <td style="width: 120px">#: VeryHappy#</td>
                            <td style="width: 120px">#: Happy#</td>
                            <td style="width: 120px">#: UnHappy#</td>
                            <td style="width: 120px">#: VeryUnHappy#</td>
                        </tr>
				</script>
                <script id="rowEnoughMoneyTrackingTemplate" type="text/x-kendo-tmpl">
                	    <tr>
                        	<td style="width: 300px">#: gender #</td>
                            <td style="width: 300px">#: programmeUnitName #</td>
                            <td style="width: 160px">#: Easy#</td>
                            <td style="width: 160px">#: Could#</td>
                            <td style="width: 160px">#: IsDificult#</td>
                            <td style="width: 160px">#: Impossible#</td>
                            <td style="width: 160px">#: NotAnswer#</td>
                        </tr>
				</script>
				<script id="rowTemplate" type="text/x-kendo-tmpl">
					<tr data-uid="#: uid #">
						<td class="employeeID">
							#: EmployeeID #
						</td>
						<td class="details">
							<span class="name">#: FirstName# #: LastName# </span>
							<span class="title">Title: #: Title #</span>
						</td>
					</tr>
				</script>
				<script id="altRowTemplate" type="text/x-kendo-tmpl">
					<tr class="k-alt" data-uid="#: uid #">
						<td class="employeeID">
							#: EmployeeID #
						</td>
						<td class="details">
							<span class="name">#: FirstName# #: LastName# </span>
							<span class="title">Title: #: Title #</span>
						</td>
					</tr>
				</script>
				<script id="maritalStatusTemplate" type="text/x-kendo-template">
					<br><a class="k-button" href="\#" onclick="return exportToPdf('\#gridMaritalStatus')">Exportar Reporte Estado Civil a PDF</a><br>
				</script>
                <script id="satisfactionTemplate" type="text/x-kendo-template">
					<br><a class="k-button" href="\#" onclick="return exportToPdf('\#gridSatisfaction')">Exportar Reporte Satisfacción Profesional a PDF</a><br>
				</script>
                <script id="workConditionTemplate" type="text/x-kendo-template">
					<br><a class="k-button" href="\#" onclick="return exportToPdf('\#gridWorkCondition')">Exportar Reporte Condiciones de Trabajo a PDF</a><br>
				</script>
                <script id="enoughMoneyTemplate" type="text/x-kendo-template">
					<br><a class="k-button" href="\#" onclick="return exportToPdf('\#gridEnoughMoney')">Exportar Reporte Alcanza el dinero a PDF</a><br>
				</script>
			</div>
			<style scoped>
				.name
				{
					display: block;
					font-size: 1.6em;
				}
				
				.title
				{
					display: block;
					padding-top: 1.6em;
				}
				
				.k-grid-header .k-header
				{
					padding: 10px 20px;
				}
				
				.k-grid tr
				{
					background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.15) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.15)));
					background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.15) 100%);
					background: -o-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.15) 100%);
					background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.15) 100%);
					background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.15) 100%);
					padding: 20px;
				}
				
				.k-grid tr.k-alt
				{
					background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.1)));
					background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
					background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
					background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
					background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
				}
				
				@font-face
				{
					font-family: "DejaVu Sans";
					src: url("http://cdn.kendostatic.com/2014.3.1314/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
				}
			</style>