<div data-role="view" id="HouseView" data-title="Casa" data-layout="mobile-tabstrip" data-model="APP.models.house" data-show="APP.models.house.init">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Programa:
                    <input id="ddlProgrammaView" name="ddlProgrammaView"/>                                    
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: searchHouseByProgrammeUnit">Buscar</button>
            </li>
        </ul>
    </form>
    <ul id="listHouse"></ul>
</div>
<div data-role="view" id="GeneralHouseView" data-title="General" data-show="APP.models.house.getHouseItemByID" data-layout="mobile-tabstrip" data-model="APP.models.house">
    <form id="formViewHouse">
        <!--<div id="errors"></div>-->
        <ul data-role="listview" data-style="inset" title="General">
            <li>
                <label>Código:                    
                    <input type="text" name="SOSHouseIDView" data-bind="value: SOSHouseID">
                    <a data-role="button" data-icon="search" data-click="window.APP.models.house.getHouseByID"></a>
                </label>
            </li>
            <li>
                <label>Nombre:
                    <input type="text" name="NameOrNumberView" data-bind="value: NameOrNumber">
                </label>
            </li>
            <li>
                <label>Dirección:
                    <input type="text" name="AddressView" data-bind="value: Address">
                </label>
            </li>
            <li>
                <label>Programma:
                    <input type="text" name="ProgrammeUnitIDView" data-bind="value: ProgrammeUnitID" readonly>
                </label>
            </li>
            <li>
                <label>Fecha de Inicio:
                    <input type="date" name="DateOfStartView" data-bind="value: DateOfStart">
                </label>
            </li>
            <li>
                <label>Capacidad Máxima:
                    <input type="number" name="MaximunCapacityView" data-bind="value: MaximunCapacity">
                </label>
            </li>
            <li>
                <label>Notas:
                    <input type="text" name="NotesView" data-bind="value: Notes">
                </label>
            </li>
            <li>
                <label>Número de Niños:
                    <input type="number" name="NumberOfChildrenView" data-bind="value: NumberOfChildren">
                </label>
            </li>
            <li>
                <label>Teléfono:
                    <input type="text" name="PhoneNumberView" data-bind="value: PhoneNumber">
                </label>
            </li>
            <li>
                <label>Estado:
                    <input type="text" name="StatusView" data-bind="value: Status" readonly>
                </label>
            </li>
        </ul>
    </form>
</div>
<div data-role="layout" data-id="mobile-tabstrip" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
			<a  style="display:none" name="btnBackViewHouse" data-role="backbutton" data-align="left">Atrás</a>
            <span data-role="view-title"></span>
            <a  style="display:none" name="btnSaveViewHouse" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.house.viewHouseSubmit">Guardar</a>                    
            <a  style="display:none" name="btnDepartHouse" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.house.departHouseSubmit">Inactivar</a>                    
            <a  style="display:none" name="btnReactivateHouse" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.house.reactivateHouseSubmit">Reactivar</a>                                     
        </div>
    </header>
    <div data-role="footer">
        <div data-role="tabstrip" id="tabstripViewHouse">
            <a href="#HouseView" data-icon="search">Buscar</a>
            <a href="#GeneralHouseView" data-icon="globe">General</a>
            <a href="#HouseDepart" data-icon="globe" style="display:none">Salida</a>
            <a href="#HouseReactivate" data-icon="globe" style="display:none">Reactivar</a>
        </div>
    </div>
</div>
