<div data-role="view" id="ChildView" data-title="Niño" data-layout="mobile-tabstrip" data-model="APP.models.child" data-show="APP.models.child.init">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Cuidador:
                    <input id="ddlCuidadorView" name="ddlCuidadorView" />
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: searchChildByCaregiver">Buscar</button>
            </li>
        </ul>
    </form>
    <ul id="listChild"></ul>
</div>
<div data-role="view" id="GeneralChildView" data-title="General" data-show="APP.models.child.getChildItemByID" data-layout="mobile-tabstrip" data-model="APP.models.child">
    <form>
        <ul data-role="listview" data-style="inset" title="General">
            <li><label>Código de Niño:<input type="text" name="SOSChildIDView" data-bind="value: SOSChildID"/>
                <a data-role="button" data-icon="search" data-click="window.APP.models.child.getChildByID"></a></label></li>
            <li><label>Nombres:<input type="text" name="FirstNameView" data-bind="value: FirstName"/></label></li>
            <li><label>Apellidos:<input type="text" name="LastNameView" data-bind="value: LastName"/></label></li>
            <li><label>Código:<input type="text" name="CaregiverIDView" data-bind="value: CaregiverID"></label></li>
            <li><label>Fecha de Nacimiento:<input type="date" name="BirthdateView" data-bind="value: Birthdate"/></label></li>
            <li><label>Apellido de la Madre:<input type="text" name="MotherLastNameView" data-bind="value: MotherLastName"/></label></li>
            <li><label>Número de Documento:<input type="text" name="DocumentNumberView" data-bind="value: DocumentNumber"/></label></li>
            <li><label>Género:<select name="GenderView" data-bind="value: Gender"><option value="1">Masculino</option><option value="2">Femenino</option></select></label></li>
            <li><label>Idioma Nativo:<input type="text" name="NativeLanguageView" data-bind="value: NativeLanguage"/></label></li>
            <li><label>Lugar de Origen de Padres:<input type="text" name="OriginPlaceFromParentsView" data-bind="value: OriginPlaceFromParents"/></label></li>
            <li><label>Tiene Plan de Desarrollo:<input type="checkbox" name="HasChildDevelopmentPlanView" data-bind="value: HasChildDevelopmentPlan"/></label></li>
            <li><label>Fecha esperada de actualización:<input type="date" name="DateOfExpectedUpdateView" data-bind="value: DateOfExpectedUpdate"/></label></li>
            <li><label>Fecha de Inicio:<input type="date" name="DateOfStartView" data-bind="value: DateOfStart"/></label></li>
            <li><label>Nacionalidad:<input type="text" name="NationalityView" data-bind="value: Nationality"/></label></li>

        </ul>
    </form>
</div>      
<div data-role="view" id="EducationChildView" data-title="Educación" data-layout="mobile-tabstrip" data-model="APP.models.child">
    <form>
        <ul data-role="listview" data-style="inset" title="Educación">
            <li><label>Va a un centro educativo SOS:<input type="checkbox" name="GoesToEducationalCenterSOSView" data-bind="value: GoesToEducationalCenterSOS"/></label></li>
            <li><label>Nombre de Centro educativo no SOS:<input type="text" name="NonSOSEducationalCenterNameView" data-bind="value: NonSOSEducationalCenterName"/></label></li>
            <li><label>Matrícula Vigente:<input type="checkbox" name="CurrentEnrollmentView" data-bind="value: CurrentEnrollment"/></label></li>
            <li><label>Año escolar Vigente:<input type="number" name="CurrentSchoolYearView" data-bind="value: CurrentSchoolYear"/></label></li>            
        </ul>
    </form>
</div>      
<div data-role="view" id="HealthChildView" data-title="Salud" data-layout="mobile-tabstrip" data-model="APP.models.child">
    <form>
        <ul data-role="listview" data-style="inset" title="Salud">
            <li><label>Fecha de último control médico:<input type="date" name="DateOfLastMedicalControlView" data-bind="value: DateOfLastMedicalControl"/></label></li>
            <li><label>Discapacidad:<input type="checkbox" name="DisabilityView" data-bind="value: Disability"/></label></li>
			<li><label>Estado Nutricional:<select name="NutritionalStatusView" id="NutritionalStatusView" data-bind="value: NutritionalStatus">
                    <option value="1">Desnutrido</option><option value="2">Normal</option><option value="3">No evaludado</option>
                    <option value="4">Obesidad</option><option value="5">Con Sobrepeso</option><option value="6">Desnutrición severa</option>
                </select></label></li>
            
            <li><label>Tiene Atención médica:<input type="checkbox" name="HasMedicalCareView" data-bind="value: HasMedicalCare"/></label></li>
            <li><label>Tiene VIH:<input type="checkbox" name="HasHIVView" data-bind="value: HasHIV"/></label></li>
            
            <li><label>Tipo de Vacuna:
                    <select name="TypeOfVaccinationView" id="TypeOfVaccinationView" data-bind="value: TypeOfVaccination">
                    <option value="1">Sarampión</option>
                    <option value="2">Pentavalente</option>
					<option value="3">Polio</option>
                    <option value="4">Tuberculosis</option>
                </select>
                </label>
            </li>
            <li>
                <label>
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.AddItem" data-type="TypeOfVaccinationView">+</a>                    
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.RemoveItem" data-type="TypeOfVaccinationView">-</a>                                                    
                    <select name="TypeOfVaccinationViewValues" id="TypeOfVaccinationViewValues" multiple>
                	</select>
            	</label>
            </li>
                
            <li><label>Tipo de Enfermedad:
                    <select name="TypeOfDiseaseView" id="TypeOfDiseaseView" data-bind="value: TypeOfDisease">
                    <option value="1">Sistema circulatorio</option>
                    <option value="2">Cáncer</option>
					<option value="3">Sistema Cardiovascular</option>
                    <option value="4">Sistema Digestivo</option>
                    <option value="5">Sistema Endocrino</option>
                    <option value="6">Sistema Nervioso</option>
                    <option value="7">Tuberculosis</option>
                    <option value="8">Otros</option>
                </select>
                </label>
            </li>
            <li>
                <label>
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.AddItem" data-type="TypeOfDiseaseView">+</a>                    
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.RemoveItem" data-type="TypeOfDiseaseView">-</a>                                                    
                    <select name="TypeOfDiseaseViewValues" id="TypeOfDiseaseViewValues" multiple>
                	</select>
            	</label>
            </li>
        
        </ul>
    </form>
</div>      
<div data-role="view" id="AdmissionChildView" data-title="Admisión" data-layout="mobile-tabstrip" data-model="APP.models.child">
    <form>
        <ul data-role="listview" data-style="inset" title="Admisión">
            
            <li><label>Razón de Admisión:<input type="text" name="ReasonForAdmissionView" data-bind="value: ReasonForAdmission"/></label></li>
            <li><label>Detalles de Admisión:<input type="text" name="DetailsForAdmissionView" data-bind="value: DetailsForAdmission"/></label></li>
            <li><label>Provisto de: <select name="AdmissionProvidedByView" id="AdmissionProvidedByView" data-bind="value: AdmissionProvidedBy">
                    <option value="1">Familiares</option><option value="2">Familia de Origen</option><option value="3">Policía</option>
                    <option value="4">Comité familiar</option><option value="5">Otros</option></select>
            </label></li>
            
            <li><label>Documentos de Admisión: <select name="DocumentsForAdmissionView" id="DocumentsForAdmissionView" data-bind="value: DocumentsForAdmission">
                    <option value="1">Certificado de Nacimiento</option><option value="2">Documento de Identidad</option>
					<option value="3">Información de Familia</option><option value="4">Documento de Acogida</option><option value="5">Otros</option></select>
            </label></li>
            <li>
                <label>
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.AddItem" data-type="DocumentsForAdmissionView">+</a>                    
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.RemoveItem" data-type="DocumentsForAdmissionView">-</a>                                                    
                    <select name="DocumentsForAdmissionViewValues" id="DocumentsForAdmissionViewValues" multiple>
                	</select>
            	</label>
            </li>
            
            <li><label>Historial antes de Admisión: <select name="RecordBeforeAdmissionView" id="RecordBeforeAdmissionView" data-bind="value: RecordBeforeAdmission">
                    <option value="1">Familia</option><option value="2">Familia de guardia</option>
					<option value="3">Hogar encabezado por niño</option><option value="4">Cuidado Institucional</option><option value="5">Otros</option></select>
            </label></li>
            <li>
                <label>
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.AddItem" data-type="RecordBeforeAdmissionView">+</a>                    
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.RemoveItem" data-type="RecordBeforeAdmissionView">-</a>                                                    
                    <select name="RecordBeforeAdmissionViewValues" id="RecordBeforeAdmissionViewValues" multiple>
                	</select>
            	</label>
            </li>
            
            <li><label>Hermanos biológicos:<input type="text" name="BiologicalSiblingsView" data-bind="value: BiologicalSiblings"/></label></li>
            
            <li><label>Participación Infantil: <select name="ChildParticipationView" id="ChildParticipationView" data-bind="value: ChildParticipation">
                    <option value="1">No participa</option><option value="2">Comité de Aldea</option>
					<option value="3">Día de la Niñez</option><option value="4">Comité Juvenil</option><option value="5">Monitoreo y Evaluación</option></select>
            </label></li>
            <li>
                <label>
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.AddItem" data-type="ChildParticipationView">+</a>                    
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.RemoveItem" data-type="ChildParticipationView">-</a>                                                    
                    <select name="ChildParticipationViewValues" id="ChildParticipationViewValues" multiple>
                	</select>
            	</label>
            </li>
            
            <li><label>Tiene plan de salida:<input type="checkbox" name="HasExitPlanView" data-bind="value: HasExitPlan"/></label></li>
            <li><label>Tipo de Empleo:<select name="TypeOfEmploymentView" id="TypeOfEmploymentView" data-bind="value: TypeOfEmployment">
                    <option value="1">Tiempo Completo</option><option value="2">Medio Tiempo</option>
					<option value="3">Empresario</option><option value="4">Pasantía</option><option value="5">Desempleado</option><option value="6">Otros</option></select>
            </label></li>

            <li><label>Detalles de Empleo:<input type="text" name="DetailsOfEmploymentView" data-bind="value: DetailsOfEmployment"/></label></li>
        </ul>
    </form>
</div>      
<div data-role="view" id="PsychosocialChildView" data-title="Psicológico" data-layout="mobile-tabstrip" data-model="APP.models.child">
    <form>
        <ul data-role="listview" data-style="inset" title="Psicológico">
            <li><label>Desarrollo Psicosocial:<select name="PsychosocialDevelopmentView" id="PsychosocialDevelopmentView" data-bind="value: PsychosocialDevelopment">
                    <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
                	<option value="5">No ha sido Evaluado</option><option value="6">No Corresponde</option></select>
            </label></li>
            
            <li><label>Abuso Infantil Recibido:<input type="checkbox" name="ChildAbuseReceivedView" data-bind="value: ChildAbuseReceived"/></label></li>
		</ul>
    </form>
</div>      
<div data-role="view" id="ServicesChildView" data-title="Servicios" data-layout="mobile-tabstrip" data-model="APP.models.child">
    <form>
        <ul data-role="listview" data-style="inset" title="Servicios">            
            <li><label>Apoyo Psicosocial:<select name="PsychosocialSupportView" id="PsychosocialSupportView" data-bind="value: PsychosocialSupport">
                    <option value="1">Tratamiento Psiquiátrico</option><option value="2">Referencia para clínica</option>
					<option value="3">Desarrollo de destrezas</option><option value="4">Tratamiento psicoterapéutico</option><option value="5">Otros</option></select>
            </label></li>
            <li>
                <label>
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.AddItem" data-type="PsychosocialSupportView">+</a>                    
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.RemoveItem" data-type="PsychosocialSupportView">-</a>                                                    
                    <select name="PsychosocialSupportViewValues" id="PsychosocialSupportViewValues" multiple>
                	</select>
            	</label>
            </li>

            <li><label>Apoyo Mèdico:<select name="MedicalSupportView" id="MedicalSupportView" data-bind="value: MedicalSupport">
                    <option value="1">Seguro Médico</option><option value="2">No recibe atención</option><option value="3">Otros</option></select>
            </label></li>
            <li>
                <label>
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.AddItem" data-type="MedicalSupportView">+</a>                    
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.RemoveItem" data-type="MedicalSupportView">-</a>                                                    
                    <select name="MedicalSupportViewValues" id="MedicalSupportViewValues" multiple>
                	</select>
            	</label>
            </li>
                
            <li><label>Apoyo Educativo:<select name="EducationalSupportView" id="EducationalSupportView" data-bind="value: EducationalSupport">
                    <option value="1">Talentos Especiales</option><option value="2">Idiomas</option><option value="3">Tutorias</option>
                	<option value="4">Becas</option><option value="5">Otros</option></select>
            </label></li>
            <li>
                <label>
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.AddItem" data-type="EducationalSupportView">+</a>                    
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.RemoveItem" data-type="EducationalSupportView">-</a>                                                    
                    <select name="EducationalSupportViewValues" id="EducationalSupportViewValues" multiple>
                	</select>
            	</label>
            </li>
            
            <li><label>Apoyo Adicional:<select name="AdditionalSupportView" id="AdditionalSupportView" data-bind="value: AdditionalSupport">
                    <option value="1">Apoyo de Talentos</option><option value="2">Presupuesto Extra</option>
                	<option value="3">Viajes</option><option value="4">Otros</option></select>
            </label></li>
            <li>
                <label>
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.AddItem" data-type="AdditionalSupportView">+</a>                    
                    <a data-role="button" data-click-on="down" data-click="window.APP.models.Util.RemoveItem" data-type="AdditionalSupportView">-</a>                                                    
                    <select name="AdditionalSupportViewValues" id="AdditionalSupportViewValues" multiple>
                	</select>
            	</label>
            </li>
        </ul>
    </form>
</div>
<div data-role="view" id="ChildDepart" data-title="Salida" data-layout="mobile-tabstrip" data-model="APP.models.child" style="display:none">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Motivo de Salida:
                <input type="input" name="ExitReasonChild" data-bind="value: ExitReason"/></label>
            </li>
        </ul>
    </form>
</div>
<div data-role="view" id="ChildReactivate" data-title="Reactivar" data-layout="mobile-tabstrip" data-model="APP.models.child" style="display:none">
    <form>
        <ul data-role="listview" data-style="inset">            
            <li>
                <label>Motivo de Reingreso:
                <input type="input" name="ReentryReasonChild" data-bind="value: ReentryReason"/></label>
            </li>
        </ul>
    </form>
</div>
<div data-role="view" id="ChildTransfer" data-title="Transferencia" data-layout="mobile-tabstrip" data-model="APP.models.child" style="display:none"  data-show="APP.models.child.initChildTransfer">
    <form>
        <ul data-role="listview" data-style="inset">            
            <li>
                <label>Programa:
                    <input id="ddlProgramaChildTransfer"  name="ddlProgramaChildTransfer"/>
                </label>
            </li>
            <li>
                <label>Casa:
                    <input id="ddlCasaChildTransfer"  name="ddlCasaChildTransfer"/>
                </label>
            </li>            
            <li>
                <label>Cuidador:
                    <input id="ddlCuidadorChildTransfer"  name="ddlCuidadorChildTransfer"/>
                </label>
            </li>
            <li>
                <label>Motivo de Transferencia:
                <input type="input" name="TransferReasonChild" data-bind="value: TransferReason"/></label>
            </li>            
        </ul>
    </form>
</div>

<div data-role="layout" data-id="mobile-tabstrip" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
			<a  name="btnBackViewChild" data-role="backbutton" data-align="left">Atrás</a>
            <span data-role="view-title"></span>
            <a  name="btnSaveViewChild" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.child.viewChildSubmit">Guardar</a>                    
            <a  name="btnDepartChild" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.child.departChildSubmit">Inactivar</a>                    
            <a  name="btnReactivateChild" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.child.reactivateChildSubmit">Reactivar</a>                    
            <a  name="btnTransferChild" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.child.transferChildSubmit">transferir</a>                    
        </div>
    </header>
    <div data-role="footer">
        <div data-role="tabstrip" id="tabstripViewChild">
            <a href="#ChildView" data-icon="search">Buscar</a>
            <a href="#GeneralChildView" data-icon="globe">General</a>
            <a href="#EducationChildView" data-icon="bookmarks">Educación</a>
            <a href="#HealthChildView" data-icon="featured">Salud</a>
            <a href="#AdmissionChildView" data-icon="phone">Admisión</a>
            <a href="#PsychosocialChildView" data-icon="recents">Psicológico</a>
            <a href="#ServicesChildView" data-icon="home">Servicios</a>
            <a href="#ChildDepart" data-icon="globe" style="display:none">Salida</a>
            <a href="#ChildReactivate" data-icon="globe" style="display:none">Reactivar</a>
            <a href="#ChildTransfer" data-icon="globe" style="display:none">Transferencia</a>                        
        </div>
    </div>
</div>
