<div data-role="view" id="Casa" data-title="Casa" data-layout="mobile-tabstrip" data-model="APP.models.house" data-show="APP.models.house.init">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Programa:
                    <input id="ddlProgramma" name="ddlProgramma"/>   
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: searchHouseByProgrammeUnit">Buscar</button>
            </li>
        </ul>
    </form>
    <ul id="list"></ul>
</div>
<div data-role="view" id="GeneralView" data-title="General" data-show="APP.models.house.getHouseItemByID" data-layout="mobile-tabstrip" data-model="APP.models.house">
    <form>
        <ul data-role="listview" data-style="inset" title="General">
            <li>
                <label>Código:                    
                    <input type="text" name="SOSHouseID" data-bind="value: SOSHouseID">
                    <a data-role="button" data-icon="search" data-click="window.APP.models.house.getHouseByID"></a>
                </label>
            </li>
            <li>
                <label>Nombre:
                    <input type="text" name="houseName" data-bind="value: houseName">
                </label>
            </li>
            <li>
                <label>Dirección:
                    <input type="text" name="address" data-bind="value: address">
                </label>
            </li>
            <li>
                <label>Programma:
                    <input type="text" name="programmeUnitID" data-bind="value: programmeUnitID" readonly>
                </label>
            </li>
            <li>
                <label>Fecha de Inicio:
                    <input type="date" name="DateOfStart" data-bind="value: DateOfStart">
                </label>
            </li>
            <li>
                <label>Capacidad Máxima:
                    <input type="number" name="MaximunCapacity" data-bind="value: MaximunCapacity">
                </label>
            </li>
            <li>
                <label>Notas:
                    <input type="text" name="Notes" data-bind="value: Notes">
                </label>
            </li>
            <li>
                <label>Número de Niños:
                    <input type="number" name="NumberOfChildren" data-bind="value: NumberOfChildren">
                </label>
            </li>
            <li>
                <label>Teléfono:
                    <input type="text" name="PhoneNumber" data-bind="value: PhoneNumber">
                </label>
            </li>
            <li>
                <label>Estado:
                    <input type="text" name="Status" data-bind="value: Status" readonly>
                </label>
            </li>
        </ul>
    </form>
</div>
<div data-role="layout" data-id="mobile-tabstrip" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
			<a  style="display:none" name="btnBackViewHouse" data-role="backbutton" data-align="left">Atrás</a>
            <span data-role="view-title"></span>
            <a  style="display:none" name="btnBackViewHouse" data-role="button" data-click-on="down" data-align="right" data-click="window.APP.models.house.viewHouseSubmit">Guardar</a>                    
        </div>
    </header>
    <div data-role="footer">
        <div data-role="tabstrip" id="tabstripViewHouse">
            <a href="#Casa" data-icon="search">Buscar</a>
            <a href="#GeneralView" data-icon="globe">General</a>
        </div>
    </div>
</div>
